.receita{
    border: 3px solid #484848;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.titulo-rec {
    font-family: Caviar;
    font-weight: bold;
    text-align: center;
}

#rec1, #rec2, #rec3 {
    background-color: #E8E8E8;
    font-family: Caviar;
    font-size: 17px;
}

.img-fluid{
    width: 300px;
}