@font-face {
    font-family: "Caviar";
    src: local(Caviar), url("Fonte/CaviarDreams.ttf")
}

@font-face {
    font-family: "Caviar";
    src: local(Caviar), url("Fonte/CaviarDreams_Bold.ttf");
    font-weight: 600;
}

html, body{
    height: 100%;
}

.area-menu{
    font-family: Caviar;
    font-weight: bold;
    font-size: 30px;
}

.main{
    height: 80%;
}

.align-items-center{
    display: flex;
    align-items: center;
}

footer{
    background-color: black;
    height: 40px;
    font-family: Caviar, SansSerif;
    font-size: 20px;
    text-align: center;
    color: white;
}